.empControls{
    width: 100%;
    padding: 5%;
}
.empControls > * {
    width: 100%;
}
.myPadding{
    padding: 10px;
}
mat-radio-group mat-radio-button  {
    margin: 10px;
    padding-left: 0px;
    padding-right: 50px;
} 
.buttonRow button{
    margin: 5px;
}